name: Website Integration Tests

on: [push]

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          # These initialize the Postgres container
          POSTGRES_DB: biodiversiteithelpdesk
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5s

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/development.txt

      - name: Run integration tests
        run: |
          pytest
        env:
          # These tell Django how to find the service above
          POSTGRES_NAME: biodiversiteithelpdesk
          POSTGRES_USER: user_name
          POSTGRES_PASSWORD: password_123
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432


